.l-main--top{
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    background: url(../img/pict1.png) no-repeat center center;
    background-size: cover;

};

.l-main--article{
    position: raltive;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    @media (max-width: ($sp)){
        flex-direction: column;
        align-items: center;
    };

    &_takeout, &_eatin{
        height: 700px;
        width: 400px;
        margin: 30px 20px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    };

    &_comment{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    };
};



.l-title--access{
    height: var(--access-height);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width: ($tab)){
        width: 100%;
    };
    @media (max-width: ($sp)){
        width: 100%;
        height: 60%;
    };
};

