.l-sidebar{
    width: var(--column-widthr);
    background-color: #F2EDE9;
    @media (max-width: ($tab)){
        width: 0; 
    };
};

// .l-sidebar.open-menu{
//     @media (max-width: ($tab)){
//         width: 100%;
//     };
// };
